:root {
  --purple: #9a00ff;
  --red: #ff002b;
  --background: #f9f9f9;
  --dark-blue: #27314e;
}

body {
  min-width: 320px;
  background: transparent
    linear-gradient(78deg, var(--purple) 0%, var(--red) 100%) 0% 0% no-repeat;
  font-size: 0.8em;
  padding: 1px;
  margin: 3px;
  font-family: myriad-pro, sans-serif;
}

.container {
  background-color: var(--background);
  border-radius: 5px;
  padding: 10px;
  color: var(--dark-blue);
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.divider {
  margin: 10px 50px;
  height: 1px;
  max-height: 1px;
  background: transparent linear-gradient(259deg, #ff002b 0%, #9a00ff 100%) 0%
    0% no-repeat padding-box;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.row > input {
  margin-left: auto;
}

input {
  border-radius: 5px;
  background-color: var(--dark-blue);
  color: white;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 20px;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}
