:root {
  --primary: #60a7c0;
  --secondary: #103358;
  --white: #fcfbfb;
  --ink: #404446;
}

body {
  min-width: 320px;
  background-color: var(--primary);
  font-size: 0.8em;
  padding: 1px;
  margin: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  background-color: var(--white);
  border-radius: 5px;
  padding: 10px;
  color: var(--ink);
}

h1 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: var(--white);
}

.row {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.row > input {
  margin-left: auto;
}

input {
  border-radius: 5px;
  background-color: var(--ink);
  color: white;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 20px;
  padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}
